<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.TodoMapper">

<!-- 全表示 -->
<select id="showAll" resultType="com.example.demo.entity.Todo">
	SELECT * FROM mytodo WHERE delete_date IS NULL
</select>

<!-- 未完了（フラグがNULL）のものだけ表示 -->
<select id="showIncomplete" resultType="com.example.demo.entity.Todo">
	SELECT * FROM mytodo WHERE delete_date IS NULL AND complete_flag = "0"
</select>

<!-- 完了だけ表示 -->
<select id="showComplete" resultType="com.example.demo.entity.Todo">
	SELECT * FROM mytodo WHERE delete_date IS NULL AND complete_flag = "1"
</select>

<!-- 新規登録 -->
<!-- AddRequestに入れたパラメータだけ持ってこれる？ -->
<insert id="save">
	INSERT INTO mytodo
		(item, priority, user_id, deadline, create_date, update_date)
	VALUES
		(#{item}, #{priority}, #{userId}, #{deadline}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
</insert>

<!-- 条件指定検索 -->
<select id="search" resultType="com.example.demo.entity.Todo">
	SELECT
	*
	FROM
	mytodo
	WHERE
	delete_date IS NULL
	<if test="item != null and item !=''">
		AND item LIKE CONCAT('%', #{item}, '%')
	</if>
	<if test="userId != null and userId !=''">

		AND user_id = #{userId}
	</if>
	<if test="priority != null and priority !=''">
		AND priority = #{priority}
	</if>
	<if test="completeFlag != null and completeFlag !=''">
		AND complete_flag = #{completeFlag}
	</if>
	<if test="deadline != null">
		AND deadline <![CDATA[ <= ]]> #{deadline}
	</if>
	
</select>

<!-- 	要注意！！ifの中のパラメータ名はSQLの中のものではなく、Javaのフィールド -->

<!-- Todo IDで検索 -->
<select id="findById" resultType="com.example.demo.entity.Todo">
	SELECT * FROM mytodo WHERE todo_id = #{todoId} AND delete_date IS NULL
</select>

<!-- 更新 -->
<update id ="update">
	UPDATE
	mytodo
	SET
	item = #{item}
	,priority = #{priority}
	,complete_flag = #{completeFlag}
	,user_id = #{userId}
	,deadline = #{deadline}
	,update_date = CURRENT_TIMESTAMP
	WHERE
	todo_id = #{todoId}
</update>

<!-- 削除 -->
<update id="delete">
	UPDATE
	mytodo
	SET delete_date = CURRENT_TIMESTAMP, update_date = CURRENT_TIMESTAMP WHERE todo_id = #{todoId}
</update> 

<!-- 完了にする -->
<update id = "changeToComplete">
	UPDATE
	mytodo
	SET complete_flag = 1, update_date = CURRENT_TIMESTAMP, complete_date = CURRENT_TIMESTAMP WHERE todo_id = #{todoId}
</update>

</mapper>