<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Todoリスト</title>
</head>

<body>

<div class="main-whole">

	<h1>Todo一覧</h1>
	
	<div class="add">
		<a th:href="@{/todo/add}" class="btn-add">新規Todo登録</a>
	</div>
	
<!-- 	全表示 -->
<!-- 	<div th:if="${todos}"> -->
<!-- 	<table class="list-table"> -->
<!-- 		<thead> -->
<!-- 			<tr> -->
<!-- 				<th>Todo ID</th> -->
<!-- 				<th>やること</th> -->
<!-- 				<th>優先度</th> -->
<!-- 				<th>ユーザーID</th> -->
<!-- 				<th>期限</th> -->
<!-- 				<th>登録日時</th> -->
<!-- 				<th>更新日時</th> -->
<!-- 				<th>完了日時</th> -->
<!-- 			</tr> -->
<!-- 		</thead> -->
<!-- 		<tbody> -->
<!-- 			<tr th:each="todos: ${todos}" th:object="${todos}" class="list-items"> -->
<!-- 				<td th:text="*{todoId}"></td> -->
<!-- 				<td th:text="*{item}"></td> -->
<!-- 				<td th:text="*{priority}"></td> -->
<!-- 				<td th:text="*{userId}"></td> -->
<!-- 				<td th:text="${#dates.format(todos.deadline, 'yyyy/MM/dd')}}"></td> -->
<!-- 				<td th:text="${#dates.format(todos.createDate, 'yyyy/MM/dd')}}"></td> -->
<!-- 				<td th:text="${#dates.format(todos.updateDate, 'yyyy/MM/dd')}}"></td> -->
<!-- 				<td th:text="${#dates.format(todos.completeDate, 'yyyy/MM/dd')}}"></td> -->
<!-- 			</tr> -->
<!-- 		</tbody> -->
<!-- 	</table> -->

<!-- 	</div> -->
	

<!-- 	<div th:if="${incompletetodos}">
	<table class="list-table">
		<thead>
			<tr>
				<th>やること</th>
				<th>優先度</th>
				<th>ユーザーID</th>
				<th>期限</th>
				<th>登録日時</th>
				<th>更新日時</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="incompletetodos: ${incompletetodos}" th:object="${incompletetodos}" class="list-items">
				<td th:text="*{item}"></td>
				<td th:text="*{priority}"></td>
				<td th:text="*{userId}"></td>
				<td th:text="${#dates.format(incompletetodos.deadline, 'yyyy/MM/dd')}"></td>
				<td th:text="${#dates.format(incompletetodos.createDate, 'yyyy/MM/dd HH:mm')}"></td>
				<td th:text="${#dates.format(incompletetodos.updateDate, 'yyyy/MM/dd HH:mm')}"></td>
				<td>
					<a th:href="@{/todo/{todoId}/edit(todoId=*{todoId})}" class="btn-edit">編集</a>
				
				</td>
			</tr>
		</tbody>
	</table>

	</div>
 -->	
 
 
	
	<div class="add">
		<p><h3>【検索】</h3><a th:href="@{/todo/list}" class="btn-add">未完了のみ表示</a></p>
	</div>
		
	<form th:action="@{/todo/search}" th:object="${todoSearchRequest}" th:method="post">
		<div class="search">
			<label for="item">やること</label>
			<input type="text" class="search-item-input" th:field="*{item}">
			<label for="userId">ユーザーID</label>
			<input type="text" class="search-item-input" th:field="*{userId}"><br>
			<label for="priority">優先度</label>
				<input type="checkbox" th:field="*{priority}" value="高" class="search-item-input"/>
				<label th:for="${#ids.prev('priority')}" th:text="高"></label>
				<input type="checkbox" th:field="*{priority}" value="中" class="search-item-input"/>
				<label th:for="${#ids.prev('priority')}" th:text="中"></label>
				<input type="checkbox" th:field="*{priority}" value="低" class="search-item-input"/>
				<label th:for="${#ids.prev('priority')}" th:text="低"></label><br>
			<label for="completeFlag">ステータス</label>
				<input type="checkbox" th:field="*{completeFlag}" value="1" class="search-item-input"/>
				<label th:for="${#ids.prev('completeFlag')}" th:text="完了"></label>
				<input type="checkbox" th:field="*{completeFlag}" value="0" class="search-item-input"/>
				<label th:for="${#ids.prev('completeFlag')}" th:text="未完了"></label><br>
			<label for="deadline">期限</label>
			<input type="date" class="search-item-input" th:field="*{deadline}">以前<br>
		</div><br />
		<p><button type="submit" class="btn-search">検索</button><a th:href="@{/todo/list}" class="btn-search">リセット</a></p>
	</form>
	
	<!-- 	検索結果表示 -->
<!-- 	初期表示は未完了のみ -->
	<div th:if="${todolist}">
	<table class="list-table">
		<thead>
			<tr>
				<th></th>
				<th>やること</th>
				<th>優先度</th>
				<th>ユーザーID</th>
				<th>期限</th>
				<th>登録日時</th>
				<th>更新日時</th>
				<th>完了日時</th>
				<th></th>
				
			</tr>
		</thead>
		<tbody>
			<tr th:each="todo:${todolist}" th:object="${todo}" class="list-items">
				<td th:text="*{completeFlag == '1'} ? 完了 : 未完了"></td>
				<td th:text="*{item}"></td>
				<td th:text="*{priority}"></td>
				<td th:text="*{userId}"></td>
				<td th:text="${#dates.format(todo.deadline, 'yyyy/MM/dd')}"></td>
				<td th:text="${#dates.format(todo.createDate, 'yyyy/MM/dd HH:mm')}"></td>
				<td th:text="${#dates.format(todo.updateDate, 'yyyy/MM/dd HH:mm')}"></td>
				<td th:text="${#dates.format(todo.completeDate, 'yyyy/MM/dd HH:mm')}"></td>
				<td>
					<a th:href="@{/todo/{todoId}/edit(todoId=*{todoId})}" class="btn-edit">編集</a>
					<a th:href="@{/todo/{todoId}/delete(todoId=*{todoId})}" class="btn-edit">削除</a>
					<span th:if="*{completeFlag == '0'}">
					<a th:href="@{/todo/{todoId}/changeToComplete(todoId=*{todoId})}" class="btn-edit">完了にする</a>
					</span>
				
				</td>
			</tr>
		</tbody>
	</table>

	</div>
	
	<!-- 	完了のみ表示 -->
<!-- 	<h3>完了済Todo</h3> -->
<!-- 	<div th:if="${incompletetodos}"> -->
<!-- 	<table class="list-table"> -->
<!-- 		<thead> -->
<!-- 			<tr> -->
<!-- 				<th>Todo ID</th> -->
<!-- 				<th>やること</th> -->
<!-- 				<th>優先度</th> -->
<!-- 				<th>ユーザーID</th> -->
<!-- 				<th>期限</th> -->
<!-- 				<th>登録日時</th> -->
<!-- 				<th>更新日時</th> -->
<!-- 				<th>完了日時</th> -->

<!-- 			</tr> -->
<!-- 		</thead> -->
<!-- 		<tbody> -->
<!-- 			<tr th:each="completetodos: ${completetodos}" th:object="${completetodos}" class="list-items"> -->
<!-- 				<td th:text="*{todoId}"></td> -->
<!-- 				<td th:text="*{item}"></td> -->
<!-- 				<td th:text="*{priority}"></td> -->
<!-- 				<td th:text="*{userId}"></td> -->
<!-- 				<td th:text="${#dates.format(completetodos.deadline, 'yyyy/MM/dd')}"></td> -->
<!-- 				<td th:text="${#dates.format(completetodos.createDate, 'yyyy/MM/dd HH:mm')}"></td> -->
<!-- 				<td th:text="${#dates.format(completetodos.updateDate, 'yyyy/MM/dd HH:mm')}"></td> -->
<!-- 				<td th:text="${#dates.format(completetodos.completeDate, 'yyyy/MM/dd HH:mm')}"></td> -->
<!-- 			</tr> -->
<!-- 		</tbody> -->
<!-- 	</table> -->

<!-- 	</div> -->




</div>


</body>
</html>